<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601113886344-65pmuj6ddorqoq0qnvl5i36r2q2jc4r8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601113886344-65pmuj6ddorqoq0qnvl5i36r2q2jc4r8</string>
	<key>API_KEY</key>
	<string>AIzaSyDerqTu6U4v8mYjR6PTDHNJwc_e-rc4_f8</string>
	<key>GCM_SENDER_ID</key>
	<string>601113886344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.soyuab.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>loginflutter-5f8c5</string>
	<key>STORAGE_BUCKET</key>
	<string>loginflutter-5f8c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601113886344:ios:326041c2ef43aa6a67e93d</string>
</dict>
</plist>